.page {
  background-image: url("../\(images\)/landingBackground.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.main {
  position: relative;
}

.footer {
  background-color: #f9f9f9;
  padding: 32px 0;
}
